.git/
.idea/
.editorconfig

/*.cache
/.gitignore
/.env
/.env.local
/.env.local.php
/.env.*.local
/.env.test
/.php-cs-fixer.dist.php
/Dockerfile
/Makefile
/README.md
/coverage
/docker-compose.yml
/phpunit.xml.dist
/psalm.xml
/tests
/var/
/vendor/
