.git/
.idea/
.editorconfig

/.circleci/
/coverage/
/infra/
/node_modules/
/public/build/
/tests/
/var/
/vendor/
/*.cache
/.gitignore
/.env
/.env.local
/.env.local.php
/.env.*.local
/.env.test
/.php-cs-fixer.dist.php
/docker-compose.yml
/Dockerfile
/Makefile
/phpunit.xml.dist
/psalm.xml
/README.md
