@use "variables";

@font-face {
  font-family: Lato;
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  background-color: white;
  min-width: 980px;
  font-family: variables.$default-font-family;
  font-size: variables.$font-size-default;
  font-weight: normal;
  height: 100%;
}

a {
  text-decoration: none;
  font-family: variables.$default-font-family;
  font-size: variables.$font-size-default;
  color: variables.$color-purple-100;
}

.connected-base {
  padding: 31px 100px 50px;
}

.page-title {
  font-size: variables.$font-size-title;
  font-weight: normal;
  color: variables.$color-demo-blue;
}
