//Breakpoints
$breakpointSmall: 768px;

//Typography
$defaultFontFamily: 'Lato';
$defaultFontSize: 13px;
$fontSizeDefault: 13px;
$fontSizeBig: 15px;
$fontSizeTitle: 28px;

//Colors
$colorDemoBlue: #4f5bc6;
$colorGrey80: #c7cbd4;
$colorGrey100: #a1a9b7;
$colorGrey120: #67768a;
$colorGrey140: #11324d;
$colorPurple100: #9452ba;
$colorBlue10: #f5f9fc;
$colorDarkPurple: #2b3d66;
$colorGreyDisabled: #d9dde2;
