// Breakpoints
$breakpoint-small: 768px;

// Typography
$default-font-family: "Lato";
$default-font-size: 13px;
$font-size-default: 13px;
$font-size-small: 11px;
$font-size-big: 15px;
$font-size-bigger: 17px;
$font-size-title: 28px;

// Colors
$color-white: #fff;
$color-demo-blue: #4f5bc6;
$color-grey-20: #f6f7fb;
$color-grey-60: #e8ebee;
$color-grey-80: #c7cbd4;
$color-grey-100: #a1a9b7;
$color-grey-120: #67768a;
$color-grey-140: #11324d;
$color-green-100: #67b373;
$color-green-140: #3d6b45;
$color-red-100: #d4604f;
$color-red-140: #7f392f;
$color-purple-100: #9452ba;
$color-blue-10: #f5f9fc;
$color-dark-purple: #2b3d66;
$color-grey-disabled: #d9dde2;
$color-brand-100: #9452ba;
