@use "../base/variables";

.error-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  text-align: center;

  &__illustration {
    height: 205px;
    width: 422px;
  }

  &__title {
    margin-top: 38px;
    margin-bottom: 10px;
    font-size: variables.$font-size-title;
    font-weight: normal;
    color: variables.$color-dark-purple;
  }

  &__description {
    font-size: variables.$font-size-big;
    font-weight: normal;
    color: variables.$color-grey-120;
  }
}
