@use "../base/variables";

.products {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-column-gap: 90px;
  .product-filters {
    color: variables.$color-demo-blue;

    &__heading {
      font-size: variables.$font-size-small;
      font-weight: normal;
      color: variables.$color-demo-blue;
      text-transform: uppercase;
      padding: 16px 0;
      border-bottom: 1px solid variables.$color-demo-blue;
    }

    &__list {
      padding: 30px;
      list-style: none;

      & > li {
        padding-bottom: 30px;
      }
    }
  }

  .product-filter {
    &__label {
      font-size: variables.$font-size-small;
      font-weight: normal;
      color: variables.$color-grey-120;
      text-transform: uppercase;
    }

    &__value {
      color: variables.$color-demo-blue;
    }
  }

  .product-grid {
    &__info {
      border-left: 1px solid variables.$color-grey-100;
      padding-left: 4px;
    }

    &__total {
      text-align: right;
      color: variables.$color-demo-blue;
    }

    &__list {
      padding-top: 58px;
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(auto-fill, 200px);
    }

    &__no-products {
      display: flex;
      justify-content: center;
    }
  }

  .no-products {
    max-width: 486px;
    margin-top: 30px;
    text-align: center;

    &__illustration {
      height: 205px;
      width: 422px;
    }

    &__title {
      margin-top: 38px;
      margin-bottom: 10px;
      font-size: variables.$font-size-title;
      font-weight: normal;
      color: variables.$color-dark-purple;
    }

    &__description {
      font-size: variables.$font-size-big;
      font-weight: normal;
      color: variables.$color-grey-120;
    }
  }

  .product-card {
    display: inline;

    &__image {
      width: 200px;
      height: 200px;
      border: 1px solid variables.$color-grey-100;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      & > img {
        width: 161px;
        height: 129px;
      }
    }

    &__title {
      padding-top: 7px;
      color: variables.$color-grey-120;
    }
  }

  .product-searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid variables.$color-grey-100;
    background: variables.$color-white;
    height: 44px;
    box-sizing: border-box;
    gap: 10px;

    &__container {
      display: flex;
      flex: 1;
      align-items: center;
    }

    &__input {
      border: none;
      flex: 1;
      margin-left: 6px;
      color: variables.$color-grey-100;
      outline: none;

      &::placeholder {
        color: variables.$color-grey-100;
      }

      &:disabled {
        background: variables.$color-white;
        cursor: not-allowed;
      }
    }

    &__separator {
      margin-left: 10px;
      border-left: 1px variables.$color-grey-100 solid;
      height: 24px;
      display: flex;
    }

    &__result-count {
      white-space: nowrap;
      color: variables.$color-demo-blue;
      margin-left: 10px;
      line-height: 16px;
      text-transform: none;
    }

    &__button {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      border-width: 1px;
      font-size: variables.$default-font-size;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 16px;
      border-style: solid;
      padding: 10px;
      height: 24px;
      cursor: not-allowed;
      font-family: inherit;
      transition: background-color 0.1s ease;
      outline-style: none;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

