{% extends 'base.html.twig' %}

{% block body %}

    <main class="connected-base">
        <header class="header">
            <img class="header__logo" src="{{ asset('build/images/logo-demoapp.svg') }}"
                 alt="{{ 'page.welcome.connect.logo_alt' | trans }}">
            <nav class="main-navigation">
                <a href="#" class="main-navigation__link main-navigation__link--active" >Catalog</a>
                <a href="#" class="main-navigation__link" >Help</a>
                <a href="#" class="main-navigation__link main-navigation__link--external" >Go to Akeneo PIM</a>
            </nav>
            <article class="user">
                <p class="user__name">Welcome User</p>
                <img src="{{ asset('build/images/logo.svg') }}" alt="profile logo" class="user__logo">
            </article>
        </header>
        {% block content %}{% endblock %}
    </main>
{% endblock %}
