{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products</h1>
    <p class="current-locale">{{ locale }}</p>
    <ul>
        {% for product in products %}
            <li class="product-card">
                <a href="{{ path('product', {identifier: product.identifier}) }}">
                    {{ product.identifier }} - {{ product.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
