{% extends 'connected-base.html.twig' %}
{% import './macros/localeToFlag.html.twig' as localeToFlag %}

{% block title %}{{ 'page.products.title' | trans }}{% endblock %}

{% block content %}
    <div class="product">
        {% embed './commons/information.html.twig' with {helperTitle: 'page.product.information.helper-title'|trans } %}
            {%  block informationContent %}
                <p>{{ 'page.product.information.content' | trans }}</p>
                <a href="#">{{ 'page.product.information.link' | trans }}</a>
            {% endblock %}
        {% endembed %}
        <header class="product__header">
            <div class="product__header__infos">
                <nav class="breadcrumb__container">
                    <span class="breadcrumb__step">CATALOG</span>
                    <span class="breadcrumb__separator" aria-hidden="true">/</span>
                    <span class="breadcrumb__step">NIKE AIR MAX REACT 270</span>
                </nav>
                <h1 class="product__title">
                    Nike Air Max React 270
                </h1>
            </div>
            <div class="locale-switcher">
                <button id="locales" class="locale-switcher__button">
                    <label for="locales" class="locale-switcher__label">Locales :</label>
                    <div class="locale-switcher__value">
                        <span class="locale-switcher__language">{{ localeToFlag.getFlag('en_US') }}</span>
                        <svg viewBox="0 0 24 24" width="16" height="16">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <polyline vector-effect="non-scaling-stroke" stroke="currentColor" points="2 6.99970375 12 17.0002962 22 6.99970375">

                                </polyline></g>
                        </svg>
                    </div>
                </button>
            </div>
        </header>
        <section class="product__content">
            <section class="attribute-group">
                <h2 class="attribute-group__title">marketing</h2>
                <div class="attribute">
                    <h3 class="attribute__label">name</h3>
                    <p class="attribute__value">Nike Air Max React 270</p>
                </div>
                <div class="attribute">
                    <h3 class="attribute__label">designer</h3>
                    <p class="attribute__value">John Doe</p>
                </div>
                <div class="attribute">
                    <h3 class="attribute__label">brand</h3>
                    <p class="attribute__value">Nike</p>
                </div>
                <div class="attribute">
                    <h3 class="attribute__label">description</h3>
                    <p class="attribute__value">
                        Inspired by the artistic movements of the 1950s, the Nike Air Max 270 React gets back to basics. With its naturally curved lines, colourful touches and soft damping, this model focuses on the essential: ensuring a smooth and comfortable stride.
                    </p>
                </div>
            </section>
            <section class="attribute-group">
                <h2 class="attribute-group__title">Technical Description</h2>
                <div class="attribute">
                    <h3 class="attribute__label">name</h3>
                    <p class="attribute__value">Nike Air Max React 270</p>
                </div>
                <div class="attribute">
                    <h3 class="attribute__label">in stock</h3>
                    <p class="attribute__value">true</p>
                </div>
                <div class="attribute">
                    <h3 class="attribute__label">better than crocs</h3>
                    <p class="attribute__value">false</p>
                </div>
                <div class="attribute">
                    <h3 class="attribute__label">description</h3>
                    <p class="attribute__value">
                        Inspired by the artistic movements of the 1950s, the Nike Air Max 270 React gets back to basics. With its naturally curved lines, colourful touches and soft damping, this model focuses on the essential: ensuring a smooth and comfortable stride.
                    </p>
                </div>
            </section>
        </section>
    </div>
{% endblock %}
