{% extends 'connected-base.html.twig' %}

{% block title %} heyy tests{% endblock %}

{% block content %}
<div class="products">
    <aside class="product-filters">
        <h3 class="product-filters__heading">Filters</h3>
        <ol class="product-filters__list">
            {% for i in 0..3 %}
                <li class="product-filter">
                    <h4 class="product-filter__label"> Locale</h4>
                    <div class="product-filter__value"> French</div>
                </li>
            {% endfor %}
        </ol>
    </aside>
    <section class="product-grid">
        <header class="product-grid__header">

            <div class="product-searchbar">
                <div class="product-searchbar__container">
                    <img class="product-searchbar__icon" src="{{ asset('build/images/search.svg') }}" />
                    <input class="product-searchbar__input" type="text" placeholder="Search">
                    <button class="product-searchbar__button" disabled="true" aria-disabled="true" role="button" type="button" >search</button>
                    <div class="product-searchbar__separator"></div>
                    <span class="product-searchbar__result-count">10 results</span>
                </div>
            </div>

        </header>
        <div class="product-grid__list">
            {% for i in 0..10 %}
                <article class="product-card">
                    <a href="#{{ i }}">
                        <div class="product-card__image">
                            <img src="{{ asset('build/images/ziggy.png') }}" alt="{{ i }}"  />

                        </div>
                        <p class="product-card__title">Nike M2K TEKNO</p>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
